* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header.head-nav {
  background: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 11px; */
  padding: 8px 0px;
  width: 52vw;
  margin: auto;
}

.logo-txt {
  background: #feb501;
  padding: 18px 24px;
  font-weight: bold;
  border-radius: 9px;
}

.header-text {
  padding: 12px 9px;
  background: #063160;
  border-radius: 4px;
  color: #fff;
  font-size: 12pt;
  font-weight: bold;
  margin-right: 25px;
}

span.text-accent {
  color: #feb501;
}
section.intro-container {
  background-image: url(bg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  /* Adjust as needed */
  position: relative;
  padding-bottom: 8rem;
}

/* section.intro-container::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #0631609c;
            pointer-events: none;
            z-index: -3;
          } */
.intro-child {
  background: #063160b5;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
img.banner {
  border: 5px solid #063160;
  width: 46vw;
  margin-top: 1rem;
}

.banner-container {
  text-align: center;
  margin-top: 10px;
}

.intro-head-line {
  color: #fff;
  font-size: 14pt;
  font-weight: bold;
}

.intro-line-2 {
  color: #fff;
  font-size: 11pt;
  padding: 6px 0px;
}

form.access-form {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
  width: 46vw;
  margin: auto;
  gap: 1rem;
}

.access-form-inputs input {
  padding: 10px 10px;
  border: white;
  font-size: 14pt;
  box-sizing: border-box;
  max-width: calc(50% - 2.5px);
}

.access-form-inputs input:nth-child(1) {
  border-radius: 7px 0px 0px 7px;
}

.access-form-inputs input:nth-child(2) {
  border-radius: 0px 7px 7px 0px;
}

button.btn-access-now {
  padding: 20px 26px;
  margin: auto;
  background: #feb501;
  border: none;
  width: 100%;
  border-radius: 7px;
  font-size: 14pt;
  cursor: pointer;
  font-weight: bold;
}
.access-form-inputs {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.sponser-row {
  text-align: center;
  padding: 15px 0px;
}

.sponser-row img {
  border-radius: 11px;
}
.\35 cdkfnm4 {
  text-align: center;
  margin: 14px 0px;
  padding-top: 2rem;
}
.intro-footer {
  position: absolute;
  /* background: #8a6666; */
  height: 22rem;
  width: 101%;
  background-image: url(zipper.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -9rem;
  left: -2px;
}

body {
  overflow-x: hidden;
  background: #f8f8f8;
}
.zipper-container {
  position: absolute;
  font-size: 19pt;
  top: calc(50% + 3rem);
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #3b1700;
}

button.zipper-login-btn {
  border: none;
  background: #000;
  color: #fff;
  font-size: 14pt;
  padding: 11px 6px;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
}
section.why-works-container {
  width: 79%;
  margin: auto;
  margin-top: 8rem;
}

.j464564d {
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  padding: 32px 0px;
}

.wrapper567d4qwdi {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.c-1-ic img {
  height: 80px;
  margin-bottom: 14px;
}

.c-1 {
  text-align: center;
}

.c-1-ttl {
  font-size: 16pt;
  font-weight: bold;
  padding: 11px 0px;
  padding-bottom: 23px;
}
.vector-2 {
  height: 12vw;
  width: 100vw;
  /* background: tomato; */
  background-image: url(vector5.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.testimonial-container {
  background-size: cover;
  background-image: url(testimonial_bg_overlay.png);
  padding: 5rem 0rem;
  background-repeat: no-repeat;
  background-position: center;
}

.testi-card {
}

.testi-card-row {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 56rem;
  margin: auto;
  margin-bottom: 2rem;
}

.testi-card {
  background: #fff;
  text-align: center;
  border-radius: 10px;
}

.testicard-avatar img {
  width: 6rem;
}

.testicard-avatar {
  display: flex;
  justify-content: center;
  margin: 24px 0px;
}

.testicard-peron-ttl {
  text-align: center;
  font-size: 20pt;
}

.testicard-location {
  text-align: center;
}

.testicard-period {
  background: #feb501;
  color: #3b1700;
  display: inline-block;
  margin: auto;
  padding: 10px 13px;
  margin: 5px 0px;
  border-radius: 10px;
}

.des-par {
  margin: 18px 0px;
  text-align: center;
  padding: 0px 21px;
  color: #000000;
}

.btn-click-to-view-profit {
  background: #063160;
  color: #fff;
  display: inline-block;
  padding: 15px 17px;
  margin-bottom: 22px;
  font-size: 15pt;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}
.vec6 {
  height: 12vw;
  width: 100vw;
  background: #063160;
  background-image: url(vector6.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  border-bottom: 1px solid #2189f9;
  margin-top: -3px;
}
.graphims7 img {
  width: 28rem;
}

.\32 d3exc {
  display: flex;
  width: 62%;
  margin: auto;
  gap: 1.5rem;
  /* background: red; */
}

.home-graph-container {
  color: #fff;
  background: #063160;
  padding: 4rem 0rem;
}

.\34 564dfdehn {
  font-weight: bold;
  text-align: center;
  padding: 0px;
  margin-bottom: 8px;
  font-size: 18pt;
}

h2.\34 5cedewd {
  margin-bottom: 23px;
}

p.s23re {
  padding: 17px 0px;
  hyphens: auto;
}
.vec7 {
  height: 12vw;
  width: 100vw;
  background-image: url(vector7.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  border-top: 1px solid #2189f9;
  margin-top: -3px;
}
.address-line {
  text-align: center;
  padding: 39px 0px;
}

footer.footer {
  background: #feb501;
  text-align: center;
  padding: 29px 0px;
}

h3.footline1 {
}

h3.footline2 {
  font-size: 11pt;
  font-weight: 200;
  margin-top: 6px;
}
img.im-logo {
  height: 70px;
}
video.testicard-avatar-video {
  width: 6rem;
  height: 150px;
}
video.banner-video {
  width: 46vw;
  margin-top: 1rem;
  border: 7px solid #063160;
}
.signature-line {
  font-family: "Mr De Haviland", cursive;
  font-size: 25pt;
}
.signature-line {
  font-family: "Mr De Haviland", cursive;
  font-size: 28pt;
  /* font-weight: bold; */
}

h2#wkd2e {
  padding: 12px 0px;
}
@media only screen and (max-width: 400px) {
  .header-text {
   font-size: 8pt !important;
}

}
@media only screen and (max-width: 950px){
  body {
    overflow-x: hidden !important;
  }
  header.head-nav {
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.access-form-inputs {
    flex-direction: row;
    justify-content: center;
}

.wrapper567d4qwdi {
    flex-direction: column;
}

.testi-card-row {
    flex-direction: column;
    width: 95%;
}

.\32 d3exc {
    flex-direction: column;
    width: 84%;
    margin: auto;
}

.graphims7 img {
    width: 100%;
}

img.im-logo {
    height: 63px;
}

.header-text {
    margin: 0;
    width: 98%;
    margin: auto;
    box-sizing: border-box;
    font-size: 10pt;
    text-align: center;
}

video.banner-video {
    width: 95%;
    box-sizing: border-box;
}

form.access-form {
    box-sizing: border-box;
    width: 95%;
    justify-content: center;
}

.access-form-inputs input {
    font-size: 12pt;
    /* flex-basis: auto; */
    box-sizing: border-box;
    width: calc(50% - 2.5px);
}

.sponser-row {
}

.sponser-row img {
    width: 85%;
}

.zipper-container {
    width: 100%;
    text-align: center;
    font-size: 15pt;
}
.intro-footer {
  height: 16rem;
  bottom: -6rem;
}
button.zipper-login-btn {
  font-size: 13pt;
}
}